### Association Rules

In [13]:
import pandas as pd
import numpy as np
import time
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
# Load dataset
df = pd.read_csv('Groceries_dataset.csv', header=0)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [14]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [ ]:
#clearing column names
df.columns = df.columns.str.strip()
#altering date column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

   Member_number       Date   itemDescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-01-05        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-02-01        whole milk

In [17]:
#Group Items by Transaction (Member + Date)
df_grouped = df.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index()
df_grouped.head()

In [ ]:
#reformatting dataset to have transactions in one row
basket_df = (
    df.groupby('TransactionID')['itemDescription']
      .apply(lambda x: ','.join(sorted(x.unique())))
      .reset_index()
)
basket_df.head()

In [30]:
datasets_results = {}
for data, label in zip(datasets, dataset_labels):
    print(f"Processing dataset with {label} rows")
    start_time = time.time()
    frequent_itemsets = apriori(data, min_support=0.0001, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
    end_time = time.time()
    elapsed_time = end_time - start_time
    datasets_results[label] = {
        'frequent_itemsets': frequent_itemsets,
        'rules': rules,
        'time': elapsed_time
    }
    print(f"Time taken: {elapsed_time:.4f} seconds")
    print(f"Number of frequent itemsets: {len(frequent_itemsets)}")
    print(f"Number of rules generated: {len(rules)}\n")

Processing dataset with 500 rows
Time taken: 1.6408 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 1000 rows
Time taken: 1.6408 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 1000 rows
Time taken: 2.4394 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 2000 rows
Time taken: 2.4394 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 2000 rows
Time taken: 2.0791 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 5000 rows
Time taken: 2.0791 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 5000 rows
Time taken: 2.4048 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 10000 rows
Time taken: 2.4048 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with 10000 rows
Time taken: 2.0523 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with full rows
Time taken: 0.0081 seconds
Number of frequent itemsets: 21
Number of rules generated: 62

Time taken: 2.0523 seconds
Number of frequent itemsets: 2295
Number of rules generated: 179090

Processing dataset with full rows
Time taken: 0.0081 seconds
Number of frequent itemsets: 21
Number of rules generated: 62